/* The following styles were extracted from Chromium styles */
$cr-button-height: 32px; //
$cr-section-vertical-padding: 12px;//
$cr-secondary-text-color-dark: rgb(154,160,166);//
$cr-secondary-text-color-light: rgb(94,99,104);//
$internal-root-color-dark: rgb(233,234,237);//
$internal-root-color-light: rgb(32,33,36);//

$button-border-width: 0px;
$button-border-radius: 2px;

/* Light colors */
$main-bg-color-light: white;//
$section-border-top: 1px solid rgb(240,240,240);//
$button-background-color-light: rgb(0,0,0);//
$button-border-color-light: rgb(219,220,224);//
$button-color-light: rgb(26, 115, 232);//

/* Dark colors */
$main-bg-color-dark: rgb(32,32,35);
$section-border-top-dark: 1px solid rgba(255,255,255,.1);//
$button-background-color-dark: rgb(55,55,58);
$botton-border-color-dark: rgb(96, 99, 103); //
$button-color-dark: white;

$text-color-dark: rgb(232,234,237);
