@import 'platform';

body {
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 13px;
  margin: 0px;
}

.section {
  padding-top: $cr-section-vertical-padding;
  padding-bottom: $cr-section-vertical-padding;
  border-bottom: $section-border-top;
  padding-right: 16px;
  padding-left: 16px;
}

button {
  cursor: pointer;
  font-weight: 500 !important;
  height: $cr-button-height;
  border-color: $button-border-color-light;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
}


@media (prefers-color-scheme: dark) {
  body {
    background: $main-bg-color-dark;
    color: $text-color-dark;
  }
  button {
    background-color: $main-bg-color-dark;
    border-color: $botton-border-color-dark;
    color: $button-color-dark;
  }
  .section {
    border-bottom: $section-border-top-dark;
  }
  .section_title {
    color: $internal-root-color-dark;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background:  $main-bg-color-light;
    color: black;
  }
  button {
    background-color: $main-bg-color-light;
    color: $button-color-light;
  }
  .section_title {
    color: $internal-root-color-light;
  }
}
